* {
  font-family: 'Bebas Neue', cursive;
}

.brand-logo,
.brand-logo img{
  height: 100%;
}


.sidenav li>a {
  color: #fff;
}

.nav-wrapper, .sidenav {
  background: linear-gradient(to right, #d500f9, #1de9b6);
  text-shadow: black 1px 1px;
}

nav ul a {
  font-size: 1.5rem;
}

.carousel-container { 
  height: 100vh !important
}

.carousel {
  height: 100% !important;
}

.carousel-item {
width: 400px !important; height: 400px !important;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  font-size: 48px;
  /* Increase the font size to make the arrows bigger */
  color: rgba(0, 0, 0, 0.6);
  /* Adjust the color for better visibility */
}

.carousel-prev {
  left: 15px;
  /* Adjust the left value to position the arrow closer to the carousel */
}

.carousel-next {
  right: 15px;
  /* Adjust the right value to position the arrow closer to the carousel */
}

.carousel:hover .carousel-control {
  color: rgba(0,
      0,
      0,
      0.8);
  /* Adjust the color on hover for better visibility */
}

/* about us page text boxes */
p {
  position: center;
  font-size: 18px;
}

.breadcrumbs {
  margin: 10px;
}
.breadcrumb {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  color: rgba(0,0,0,0.5);
}
.breadcrumb:before {
  vertical-align: middle;
  color: rgba(0,0,0,0.5);
}
.breadcrumb:last-child {
  color: #000;
}

.website-use {}

.moreinfo {}

body {
  background: linear-gradient(to bottom, #89bdf9, #9ef2fc);
  background-repeat: no-repeat;
  min-height: 100vh;
}

body > .container {
  min-height: 80vh;
}

.page-footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  margin-top: 40px;
  background: linear-gradient(to right, #d500f9, #1de9b6);
  text-shadow: black 1px 1px;
}

.center-image {
display: inline-block;
height: 300px;
}

.image-container {
width: 100%;
text-align: center;
}