* {
  font-family: "Bebas Neue", cursive;
}
html {
  background: linear-gradient(to bottom, #89bdf9, #9ef2fc);
}

.brand-logo,
.brand-logo img {
  height: 100%;
}

.sidenav li > a {
  color: #fff;
}

.nav-wrapper,
.sidenav {
  background: linear-gradient(to right, #d500f9, #1de9b6);
  text-shadow: black 1px 1px;
}

nav {
  position: relative;
  z-index: 2;
}

nav ul a {
  font-size: 1.5rem;
}

h1 {
  text-transform: uppercase;
  font-family: "Monoton", cursive;
  color: #fff;
  text-shadow: 1px 1px 9px #000;
}

@media screen and (min-width: 500px) {
  .carousel-container {
    position: relative;
    top: -200px;
    height: 100vh !important;
    z-index: 1;
  }

  .carousel {
    height: 100% !important;
  }

  .carousel-item {
    width: 400px !important;
    height: 400px !important;
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 48px;
  /* Increase the font size to make the arrows bigger */
  color: rgba(0, 0, 0, 0.6);
  /* Adjust the color for better visibility */
}

.carousel-prev {
  left: 15px;
  /* Adjust the left value to position the arrow closer to the carousel */
}

.carousel-next {
  right: 15px;
  /* Adjust the right value to position the arrow closer to the carousel */
}

.carousel:hover .carousel-control {
  color: rgba(0, 0, 0, 0.8);
  /* Adjust the color on hover for better visibility */
}

/* about us page text boxes */
p {
  position: center;
  font-size: 18px;
}

.breadcrumbs {
  margin: 10px;
}

.breadcrumb {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  color: #ccc;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.breadcrumb:before {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.breadcrumb:last-child {
  color: #fff;
}

body {
  background: url(../images/film\ tape\ 2.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: 100% 200px;
  background-size: cover;
}

body > .container {
  min-height: 80vh;
}

.page-footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  margin-top: 40px;
  background: linear-gradient(to right, #d500f9, #1de9b6);
  text-shadow: black 1px 1px;
}

.center-image {
  display: inline-block;
  height: 300px;
}

.image-container {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .center-image {
    width: 100%;
    height: unset !important;
  }
}

/* Search Bar */
#movie-search,
#cinema-search {
  background: #fff;
  padding: 0 10px;
}

.btn {
  text-shadow: 1px 1px #000;
}

#all-cinemas ul {
  width: 100%;
}

#all-cinemas li {
  display: flex;
  background-color: #4956a1;
  margin: 5px 0;
  color: #fff;
  font-size: 1.5rem;
}

#all-cinemas li a {
  /* display: flex; */
  padding: 10px;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  transition: 0.3s;
  vertical-align: middle;
  font-size: 20px;
}

#all-cinemas li a:hover {
  background-color: #343d6f;
  vertical-align: middle;
}

/* Movies Page */
#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie,
.event {
  width: 30%;
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(73, 86, 161);
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .movie,
  .event {
    width: 100%;
  }
}

.movie-image img,
.event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-sessions span,
.event span {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  color: #000;
}

.movie .book-container,
.event .book-container {
  padding: 5px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-bottom: 1000px;
}

.colorbox {
  background: rgba(137, 186, 249, 0.7);
  padding: 20px;
}
